header {
    background-image:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.7)),
        url('/images/contact-form.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 30px;
    text-shadow: 1px 1px black;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

nav {
    white-space: nowrap;
}

nav a {
    border-bottom: 1px solid transparent;
    color: white;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#logo {
    display: flex;
    height: 40px;
    justify-content: right;
    padding-right: 10px;
}

#menu nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#menu nav a {
    border-bottom: 1px solid transparent;
    color: white;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}

#menu nav a:nth-child(2) {
    padding-left: 10px;
}

#menu nav a:hover {
    border-color: white;
    color: white;
}

#topbar {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0));
    padding: 20px 0;
}

#topbar>.wrap {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
}

.contact-message {
    font-size: 20px;
    padding-top: 15px;
}

.contact-message a {
    border-bottom: 1px solid transparent;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.contact-message .btn {
    border: 0;
    border-radius: 100px;
    color: black;
    margin-top: 1.5rem;
    outline: none;
    text-align: center;
    vertical-align: bottom;
}

.submit button:hover {
    background: #cc9a05;
}

@media screen and (min-width: 542px) {
    #logo {
        justify-content: center;
    }
}


  body {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: fadeInAnimation 0.3s ease-in-out forwards;;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  