footer {
  background-color: #ffc107;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer nav {
  margin-bottom: 20px;
}

footer nav a {
  display: block;
  color: black;
}

@media screen and (min-width: 576px) {
  footer > .container-md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  footer nav {
    margin-bottom: 0;
  }
}

body {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: fadeInAnimation 0.3s ease-in-out forwards;;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
