header {
    background-image:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.7)),
        url('/images/destinations/paris/paris-header.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    justify-content: space-between;
    min-height: 50vh;
    padding-bottom: 30px;
    text-shadow: 1px 1px black;
}

header h2 {
    font-size: 50px;
    font-weight: bold;
    padding-left: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px black;
}

header nav a:hover {
    border-color: white;
    color: white;
}

#book .tagline {
    text-align: initial;
    text-transform: uppercase;
}

#book button[type="submit"] {
    border: 0;
    border-radius: 100px;
    margin-top: 1.5rem;
    outline: none;
    text-align: center;
    vertical-align: bottom;
}

#book form {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-template-areas:
        "from to guests"
        "submit submit submit";
    grid-template-columns: 1fr 1fr 0.5fr;
}

#book form .from {
    grid-area: from;
}

#book form .guests {
    grid-area: guests;
}

#book form .submit {
    grid-area: submit;
}

#book form .submit button {
    width: 100%;
}

#book form .to {
    grid-area: to;
}

#destinations {
    padding-bottom: 60px;
    padding-top: 60px;
}

#header::before {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.7));
}

#logo {
    display: flex;
    height: 40px;
    justify-content: right;
    padding-right: 10px;
}

#menu nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#menu nav a {
    border-bottom: 1px solid transparent;
    color: white;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}

#menu nav a:nth-child(2) {
    padding-left: 10px;
}

#menu nav a:hover {
    border-color: white;
    color: white;
}

#topbar {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0));
    padding: 20px 0;
}

#topbar>.wrap {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
}

nav {
    white-space: nowrap;
}

nav a {
    border-bottom: 1px solid transparent;
    color: white;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

nav img {
    padding-right: 15px;
}

.destination {
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.destination img {
    max-height: 240px;
    object-position: 0% 50%;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.destination .location {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.9));
    bottom: 0;
    color: white;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.destinations {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
    padding-bottom: 1%;
}

.destination-description {
    padding-top: 20px;
}

.submit .btn {
    border: 0;
    border-radius: 100px;
    color: black;
    margin-top: 1.5rem;
    outline: none;
    text-align: center;
    vertical-align: bottom;
}

@media screen and (min-width: 542px) {
    #logo {
        justify-content: center;
    }

    .destination img {
        max-height: 400px;
    }
}

@media screen and (min-width: 768px) {
    .destination-description {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .destinations {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        padding-bottom: 1%;
    }

    .destination img {
        max-height: 550px;
    }

    #book form {
        grid-template-areas:
            "from to guests submit";
        grid-template-columns: 1fr 1fr;
    }

    #book h2 {
        font-size: 64px;
    }
}
